body {
  font-family: "Poppins", sans-serif;
}

article {
  border: 1px solid lightgray;
  border-radius: 5px;
  width: 250px;
  padding-bottom: 10px;
}

figure {
  border-radius: 5px;
  opacity: 70%;
  width: 100%;
  margin: 0;
  position: relative;
}

figcaption {
  color: white;
  font-weight: 500;
  position: absolute;
  top: 60px;
  left: 70px;
}

h3,
h4,
p,
a {
  padding: 0 15px;
}

hr {
  border: 1px solid lightgray;
}
